# Notebook Check points
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Saved Model
*.h5

# Zipped files
*.zip

# TSV files
*.tsv

# Log files
*/logs
*/log_dir

# Checkpoints
*/checkpoints

# TF Datasets
*/data/tensorflow_datasets